@page
@model UsersAuth.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Por favor revise su correo electrónico para restablecer su contraseña.
</p>
