@page
@model UsersAuth.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Su contraseña ha sido restablecida. Por favor <a asp-page="./Login">cliquea aquí para iniciar sesión</a>.
</p>
